/* Display part */
/* .display {
  background-color: red;
} */

.display {
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  max-width: 660px;
}

.box {
  /* width: 300px; */
  /* height: 80px; */
  background-color: red;
  margin: 10px;
}

#word {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 80px;
  text-align: center;
  margin: 0;
}

/* image */
img {
  width: 600px;
  margin-top: 0px;
  /* z-index: -1;
  position: absolute; */
}

/* App Conponent */
.App {
  display: flex;
}

.leftPart {
  background-color: #b5b8bc;
  width: 200px;
}

.headlines {
  margin-top: 50px;
}

.rightPart {
  margin-left: 100px;
  margin-top: 50px;
}



/* whole part */
body {
  background-color: #dcdfe2;
}
